body{
font-family: "Cuprum", "PT Sans", "Arial", sans-serif;;
font-size: 13px;
font-style: normal;
line-height: 24px;
color: #000000
}

h2{
  font-size: 30px;
}

h3{
  font-size: 36px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*-------header------*/


.main-header {
  margin-bottom: 60px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 220px;
}

.search {
  float: left;
  margin-right: 20px;
}

.search button {
  float: left;
  width: 60px;
}

.search input {
  float: left;
  width: 100px;
}

.user-block {
  float: right;
}

.user-block a {
  float:left;
  margin-left: 20px;
}

.top-header {
  margin-bottom: 46px;
}

.slogan {
  float: left;
  width: 200px;
  margin: 0px 60px 0px 50px;
}

.header-contacts {
  float: left;
  width: 275px;
}

.registration {
  float: right;
}

.registration a {
  float: left;
  margin-left: 10px;
}

.main-navigation li {
  float: left;
  margin-right: 40px;
}

/*----------main-inner------------*/

.breadcrumbs li {
  float: left;
  margin-right: 20px;
}

.filter {
  float: left;
  width: 220px;
}

.selection-list {
  float: right;
  width: 700px;
  font-size: 0;
}

.sort p {
  float: left;
  font-size: 13px;
}

.filter-method a {
  float: left;
  margin-left: 30px;
  font-size: 13px;
}

.sort-buttons a {
  float: right;
  margin-left: 30px;
  font-size: 13px;
}

.select-item {
  display: inline-block;
  width: 220px;
  vertical-align: top;
  margin-right: 20px;
  font-size: 18px;
}

.select-item:nth-child(3n) {
  margin-right: 0;
}

.old-price, .new-price {
  font-size: 17px;
}

.paginator {
  display: inline-block;
  margin-left: 240px;
  font-size: 13px;
}


/*-----main-index----------*/
.promo {
  margin-bottom: 55px;
}

.promo-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.machine, .sale, .delivery{
  margin-right: 0;
}

.slider {
  float: left;
  width: 620px;
  margin-right: 20px;
}

.popular-block {
  margin-bottom: 20px;
}

.popular-title {
  margin-bottom: 25px;
}

.title {
  float: left;
  width: 320px;
  margin: 30 0 35 30;
}

.popular-title .btn {
  float: right;
  width: 300px;
  margin: 25 24 30 0;
}

.pop-item {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.pop-item p {
  text-align: center;
}

.pop-item:nth-child(4n) {
  margin-right: 0;
}

.service-list {
  float: left;
  margin-right: 80px;
}

.service-description {
  float: left;
  width: 380px;
}

.extra-service-description {
  float: left;
  width: 540px;
  margin-right: 100px;
}

.contacts {
  float: left;
  width: 300px;
}

/*-------------footer---------------*/

.main-footer {
  margin-top: 86px;
  padding-bottom: 35px;
}

.logo-contacts {
  float: left;
  margin-right: 100px;
}

.footer-list {
  float: right;
  margin-left: 30px;
}

.footer-navigation ul {
  float: right;
}

.footer-navigation li {
  float: left;
  margin-left: 20px;
}

.footer-promo-navigation ul {
  float: right;
}

.footer-promo-navigation li {
  float: left;
  margin-left: 20px;
}

.copyright {
  float: left;
  width: 200px;
  margin-right: 140px;
}

.footer-social {
  float: left;
  width: 180px;
  margin-right: 80px;
}

.mailto {
  float: left;
  width: 160px;
}

.link {
  float: left;
  width: 140px;
}



/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

.main-header::before {
  content: ".main-header";
}
